In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
data = pd.read_csv(os.path.join('data', '16k_Movies.csv'))
data

,ID,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"
...,...,...,...,...,...,...,...,...,...,...
16285,16285,Boys to Men,"Apr 27, 2001",Compilation of 4 short films from different di...,NaN,NaN,NaN,NaN,https://www.amazon.com/Boys-Men-Phillip-Bartel...,Drama
16286,16286,Saint Misbehavin': The Wavy Gravy Movie,"Dec 10, 2010","Beginning with Woodstock ‘99, director Michell...",NaN,NaN,Michelle Esrick,NaN,Not Rated,Documentary
16287,16287,Collectors,"Oct 1, 2000",America is drawn to the macabre handiwork of t...,NaN,NaN,Julian P. Hobbs,NaN,1 h 20 m,Documentary
16288,16288,Bonhoeffer,"Jun 20, 2003",Dramatic documentary about the young German pa...,NaN,NaN,Martin Doblmeier,Martin Doblmeier,1 h 33 m,"Documentary,Biography,History,War"
16289,16289,7th Street,"Jan 17, 2003",This documentary explores change in one of the...,NaN,NaN,Josh Pais,Josh Pais,http://www.7thstreetmovie.com/,Documentary

In [24]:
df = pd.read_csv("data/movie_dataset.csv")
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [37]:
df.sort_values(by="release_date")["release_date"]

4592    1916-09-04
4661    1925-11-05
2638    1927-01-10
4457    1929-01-30
4594    1929-02-08
           ...
4720    2016-09-09
3302    2016-09-16
3408    2016-10-02
4255    2017-02-03
4553           NaN
Name: release_date, Length: 4803, dtype: object

In [39]:
df.sort_values(by="popularity")[["popularity","original_title"]]

      popularity              original_title
4553    0.000000  America Is Still the Place
3361    0.000372                  Alien Zone
4727    0.001117                Penitentiary
4118    0.001186      Hum To Mohabbat Karega
4625    0.001389            Midnight Cabaret
...          ...                         ...
127   434.278564          Mad Max: Fury Road
94    481.098624     Guardians of the Galaxy
788   514.569956                    Deadpool
95    724.247784                Interstellar
546   875.581305                     Minions

[4803 rows x 2 columns]

In [40]:
df["popularity"].describe()

count    4803.000000
mean       21.492301
std        31.816650
min         0.000000
25%         4.668070
50%        12.921594
75%        28.313505
max       875.581305
Name: popularity, dtype: float64

# Popularidad

In [42]:
df[df["popularity"] > 100]

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
5,5,258000000,Fantasy Action Adventure,http://www.sonypictures.com/movies/spider-man3/,559,dual identity amnesia sandstorm love of one's ...,en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,...,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576,Tobey Maguire Kirsten Dunst James Franco Thoma...,"[{'name': 'Francine Maisler', 'gender': 1, 'de...",Sam Raimi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3232,3232,8000000,Thriller Crime,NaN,680,transporter brothel drug dealer boxer massage,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",121.463076,...,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Just because you are a character doesn't mean ...,Pulp Fiction,8.3,8428,John Travolta Samuel L. Jackson Uma Thurman Br...,"[{'name': 'Quentin Tarantino', 'gender': 2, 'd...",Quentin Tarantino
3337,3337,6000000,Drama Crime,http://www.thegodfather.com/,238,italy love at first sight loss of father patri...,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",143.659698,...,175.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,An offer you can't refuse.,The Godfather,8.4,5893,Marlon Brando Al Pacino James Caan Richard S. ...,"[{'name': 'Francis Ford Coppola', 'gender': 2,...",Francis Ford Coppola
3719,3719,3000000,Drama,NaN,510,individual rebel self-destruction wheelchair l...,en,One Flew Over the Cuckoo's Nest,While serving time for insanity at a state men...,127.525581,...,133.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"If he's crazy, what does that make you?",One Flew Over the Cuckoo's Nest,8.2,2919,Jack Nicholson Louise Fletcher Danny DeVito Wi...,"[{'name': 'Jane Feinberg', 'gender': 1, 'depar...",Milo\u0161 Forman
3865,3865,3300000,Drama,http://sonyclassics.com/whiplash/,244786,jazz obsession conservatory music teacher new ...,en,Whiplash,"Under the direction of a ruthless instructor, ...",192.528841,...,105.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The road to greatness can take you to the edge.,Whiplash,8.3,4254,Miles Teller J.K. Simmons Melissa Benoist Aust...,"[{'name': 'Terri Taylor', 'gender': 1, 'depart...",Damien Chazelle
4074,4074,2000000,Horror Thriller,NaN,270303,chase supernatural friends vision school,en,It Follows,"For 19-year-old Jay, fall should be about scho...",100.876794,...,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"It doesn't think, it doesn't feel, it doesn't ...",It Follows,6.6,1832,Maika Monroe Keir Gilchrist Daniel Zovatto Jak...,"[{'name': 'Mark Bennett', 'gender': 2, 'depart...",David Robert Mitchell

In [45]:
df["genres"]

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801                                         NaN
4802                                 Documentary
Name: genres, Length: 4803, dtype: object

# Top 5 Géneros

In [65]:
d = dict()
for genres in df["genres"].dropna():
    try:
        genres = genres.split(" ")
    except:
        print(genres)
        continue
    for g in genres:
        if g not in d.keys():
            d[g] = 1
        else:
            d[g] += 1

a = []
for g in d.keys():
    a.append((g,d[g]))
    
a.sort(key = lambda x:x[1])
a[-6:-1]

[('Adventure', 790),
 ('Romance', 890),
 ('Action', 1153),
 ('Thriller', 1259),
 ('Comedy', 1722)]